@page "/Dashboard"
@using MasProjekt.Backoffice.Models.Customers
@using System.Text
@using ProtegoFrontend.Backoffice.Models;
@inject NavigationManager NavManager
@inject HttpClient Http

<style>
    body {
        background-color: rgb(239, 239, 239);
    }
</style>


<div id="wrapper">
    <div>
        <h1 style="font-family: Arial">Customer information</h1>
    </div>
    <div id="first" style="background-color: white; margin: 20px">
            @if(customers.Count > 0)
            {
        @foreach (Customer customer in customers)
        {
            <table style="margin: 0 auto; vertical-align: central">
                <tr style="text-align: center">
                        <button class="listedButton" style="font-size: 15px" @onclick="@(_ => SetCustomer(customer.ContactNumber))">@GetCustomerData(customer)</button>
                </tr>
            </table>
        }
    
            }else{
                    <center><img style="width: 25%" src="Assets/nothingHere.gif" /></center>
                    <h2 style="font-family: Arial; font-size: 24px; text-align: center">Nothing is here</h2>
            }
    </div>
   <div id="second" style="background-color: white; margin: 20px">
       @if(CurrentCustomer != null)
        {
            @if (CurrentCustomer.Nip != "")
            {
                <table style="margin: 20px">
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">Company Name: </td>
                        <td style="font-family: Arial; font-size: 24px;">@CurrentCustomer.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">NIP: </td>
                        <td style="font-family: Arial; font-size: 24px;">@CurrentCustomer.Nip</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">Adress: </td>
                        <td style="font-family: Arial; font-size: 24px;">@CurrentCustomer.Adress.ToString()</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">Email: </td>
                        <td style="font-family: Arial; font-size: 24px;">@CurrentCustomer.Email</td>
                    </tr>
                </table>
            }
            @if (CurrentCustomer.Pesel != "")
            {
                <table style="margin: 20px">
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">  Name: </td>
                        <td style="font-family: Arial; font-size: 24px;">@CurrentCustomer.Name</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Surname: </td>
                        <td style="font-family: Arial; font-size: 24px">@CurrentCustomer.Surname</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  PESEL: </td>
                        <td style="font-family: Arial; font-size: 24px">@CurrentCustomer.Pesel</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Number: </td>
                        <td style="font-family: Arial; font-size: 24px">@CurrentCustomer.ContactNumber</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Email: </td>
                        <td style="font-family: Arial; font-size: 24px">@CurrentCustomer.Email</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Adress: </td>
                        <td style="font-family: Arial; font-size: 24px">@CurrentCustomer.Adress.ToString()</td>
                    </tr>
                </table>
            }
        }else
        {
           <center><h2>Select customer to see personal details</h2></center>
            <center><img style="width: 25%" src="Assets/searchcustomer.gif" /></center>

        }
    </div>
</div>
<div>
    <h1 style="font-family: Arial">Products information</h1>
</div>
<div id="wrapper">
    <div id="first" style="background-color: white; margin: 20px">
       <div style="margin: 20px">
          @if(CurrentCustomer != null)
            {
                @if (CurrentCustomer.Policies.Count() > 0)
                {
                    @foreach (var insuranceProduct in CurrentCustomer.Policies)
                    {
                        <table style="margin: 0 auto; vertical-align: central">
                            <tr style="text-align: center">
                                <button class="listedButton" @onclick="@(_=>SetNumber(insuranceProduct))">@GetInsuranceBasicInformations(insuranceProduct)</button>
                            </tr>
                        </table>                    }
                }
                else
                {
                    <center><img style="width: 25%" src="Assets/nothingHere.gif" /></center>
                    <h2 style="font-family: Arial; font-size: 24px; text-align: center">Nothing is here</h2>
                }
            }else
            {
                <center><h2>Select customer to see his products</h2></center>
                <center><img style="width: 25%" src="Assets/searchcustomer.gif" /></center>
            }
        </div>
          <div style="vertical-align: central">
           <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" disabled="@(CurrentCustomer == null ? true : false)">New Car Insurance</button>
           <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" disabled="@(CurrentCustomer == null ? true : false)">New House Insurance</button>
           <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" @onclick="NavigateToLifeInsurance" disabled = "@(CurrentCustomer == null ? true : false)">New Life Insurance</button>

          </div>


    </div>
    <div id="second" style="background-color: white; margin: 20px">
        <div style="margin: 20px">
           <table style="margin: 0 auto; vertical-align: central">
               @if(CurrentPolicy != null)
                {
                    @if (CurrentPolicy.PolicyNumber[0] == 'O')
                    {
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">name: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Name</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">surname: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Surname</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">pesel: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Pesel</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">price: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Price</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">sign date: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.SignDate</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">end date: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.EndDate</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">number: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.PolicyNumber</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">auto casco: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.AutoCasco</td>
                        </tr>
                        <h2></h2>
                        <h2 style="text-align: center">car details</h2>
                        @if(CurrentPolicy.Vehicle.Frame != "")
                        {
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">production date: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.ProductionDate</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">license plates number: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.LicensePlatesNumber</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">frame number: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.Frame</td>
                            </tr>
                        }else if(CurrentPolicy.Vehicle.MaximumAllowableAxleLoad != 0)
                        {
                             <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">production date: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.ProductionDate</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">license plates number: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.LicensePlatesNumber</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">vin: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.Vin</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">import country: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.ImportCountry</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">first registration date: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.FirstRegistrationDate</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">mileage count: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.MileageCount</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">maximum allowable axle load: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.MaximumAllowableAxleLoad</td>
                            </tr>
                        }else if(CurrentPolicy.Vehicle.MaximumAllowableAxleLoad == 0)
                        {
                              <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">production date: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.ProductionDate</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">license plates number: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.LicensePlatesNumber</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">vin: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.Vin</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">import country: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.ImportCountry</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">first registration date: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.FirstRegistrationDate</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">mileage count: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.MileageCount</td>
                            </tr> 
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">is hook: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.IsHook</td>
                            </tr>
                            <tr>
                                <td style="font-family: arial; font-size: 24px; float: left">is lpg: </td>
                                <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Vehicle.IsLpg</td>
                            </tr>
                        }

                }else if(CurrentPolicy.PolicyNumber[0] == 'H')
                    {
                         <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">name: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Name</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">surname: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Surname</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">pesel: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Pesel</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">price: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Price</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">sign date: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.SignDate</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">end date: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.EndDate</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">number: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.PolicyNumber</td>
                        </tr>

                        <h2 style="text-align: center">insured house adress</h2>
                        
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">city: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Adres.Split(';')[0]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">postal code: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Adres.Split(';')[1]</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">street: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Adres.Split(';')[2]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">house number: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Adres.Split(';')[3]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">flat number: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Adres.Split(';')[4]</td>
                        </tr>

                    }else
                    {
                         <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">name: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Name</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">surname: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Surname</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">pesel: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentCustomer.Pesel</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">price: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.Price</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">sign date: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.SignDate</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">end date: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.EndDate</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">number: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.PolicyNumber</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">customer age: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.CustomerAge</td>
                        </tr>

                        <h2>medical survey details</h2>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">pensioner: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[0]</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">acciddent victim: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[1]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">surgery: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[2]</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">overweight: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[3]</td>
                        </tr>  
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">smoker: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[4]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">alcohol usage: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[5]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">drugs usage: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[6]</td>
                        </tr>
                         <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">coronary artery disease: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[7]</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">hypertension: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[8]</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 24px; float: left">hypertension in family: </td>
                            <td style="font-family: arial; font-size: 24px;">@CurrentPolicy.MedicalSurvey.Split(';')[9]</td>
                        </tr>
                    }
                } else
                {
                    <center><img style="width: 25%" src="assets/select.gif" /></center>
                    <h2 style="font-family: arial; font-size: 24px; text-align: center">select product from left list</h2>
                }
            </table>
        </div>
    </div>
</div>



@code {
    private List<Customer> customers;
    private Customer CurrentCustomer;
    private Policies CurrentPolicy = null;


    protected override async Task OnInitializedAsync()
    {
        customers = new List<Customer>();
        customers = await Http.GetFromJsonAsync<List<Customer>>("https://localhost:44394/controller/Customers");
    }

    void SetNumber(Policies policy)
    {
        CurrentPolicy = policy;
    }

    string GetCustomerData(Customer customer)
    {
        if (customer.Pesel != "")
            return $"{customer.Name} | {customer.Surname} | {customer.Pesel} | {customer.ContactNumber}";
        else
            return $"{customer.CompanyName} | {customer.Nip} | {customer.ContactNumber}";
    }

    string GetInsuranceBasicInformations(Policies Policy)
    {
        return $"{Policy.PolicyNumber} | {Policy.SignDate} | {Policy.EndDate}";
    }

    void SetCustomer(string contactNumber)
    {
        CurrentPolicy = null;
        CurrentCustomer = customers.First(e => e.ContactNumber == contactNumber);
    }

   @* private string GetInsuranceDetails()
    {
        if (DetailedInsuranceDetails != "")
        {
            string[] split = DetailedInsuranceDetails.Split(" | ");
            string insuranceNumeber = split[1];
            return customer.Insurances.First(e => e.InsuranceNumber == insuranceNumeber).GetInsuranceData();
        }
        else
            return "";
    }*@

    private void NavigateToLifeInsurance()
    {
        NavManager.NavigateTo($"/LifeInsurance/{CurrentCustomer.ClientId}");
    }
}
