@page "/Dashboard"
@using MasProjekt.Backoffice.Models.Customers
@using MasProjekt.Backoffice.Models.Insurance
@using System.Text
@inject NavigationManager NavManager

<style>
    body {
        background-color: rgb(239, 239, 239);
    }
</style>


<div id="wrapper">
    <div>
        <h1 style="font-family: Arial">Customer information</h1>
    </div>
    <div id="first" style="background-color: white; margin: 20px">
        @foreach(Customer customer in Customer.Customers)
        {
          <table style="margin: 0 auto; vertical-align: central">
          <tr style="text-align: center">
            <button class="listedButton" style="font-size: 15px" @onclick="@(_ => SetCustomer(customer.ContactNumber))">@customer.GetCustomerData()</button>
          </tr>
      </table>
        }
    </div>
    <div id="second" style="background-color: white; margin: 20px">
       @if(customer != null)
        {
            @if (customer.GetCustomerData().Contains("NIP: "))
            {
                <table style="margin: 20px">
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">Company Name: </td>
                        <td style="font-family: Arial; font-size: 24px;">@corpoCustomer.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">NIP: </td>
                        <td style="font-family: Arial; font-size: 24px;">@corpoCustomer.NIP</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">Adress: </td>
                        <td style="font-family: Arial; font-size: 24px;">@corpoCustomer.Adress.ToString()</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">Email: </td>
                        <td style="font-family: Arial; font-size: 24px;">@corpoCustomer.Email</td>
                    </tr>
                </table>
            }
            @if (customer.GetCustomerData().Contains("Pesel: "))
            {
                <table style="margin: 20px">
                    <tr>
                        <td style="font-family: Arial; font-size: 24px; float: left">  Name: </td>
                        <td style="font-family: Arial; font-size: 24px;">@retailCustomer.Name</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Surname: </td>
                        <td style="font-family: Arial; font-size: 24px">@retailCustomer.Surname</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  PESEL: </td>
                        <td style="font-family: Arial; font-size: 24px">@retailCustomer.Pesel</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Number: </td>
                        <td style="font-family: Arial; font-size: 24px">@retailCustomer.ContactNumber</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Email: </td>
                        <td style="font-family: Arial; font-size: 24px">@retailCustomer.Email</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 24px">  Adress: </td>
                        <td style="font-family: Arial; font-size: 24px">@retailCustomer.Adress.ToString()</td>
                    </tr>
                </table>
            }
        }else
        {
           <center><h2>Select customer to see personal details</h2></center>
            <center><img style="width: 25%" src="Assets/searchcustomer.gif" /></center>

        }
    </div>
</div>
<div>
    <h1 style="font-family: Arial">Products information</h1>
</div>
<div id="wrapper">
    <div id="first" style="background-color: white; margin: 20px">
       <div style="margin: 20px">
          @if(customer != null)
            {
                @if (customer.Insurances.Count() > 0)
                {
                    @foreach (var insuranceProduct in customer.Insurances)
                    {
                        <table style="margin: 0 auto; vertical-align: central">
                            <tr style="text-align: center">
                                <button class="listedButton" @onclick="@(_=>SetNumber(insuranceProduct.GetInsuranceBasicInformation()))">@insuranceProduct.GetInsuranceBasicInformation()</button>
                            </tr>
                        </table>                    }
                }
                else
                {
                    <center><img style="width: 25%" src="Assets/nothingHere.gif" /></center>
                    <h2 style="font-family: Arial; font-size: 24px; text-align: center">Nothing is here</h2>
                }
            }else
            {
                <center><h2>Select customer to see his products</h2></center>
                <center><img style="width: 25%" src="Assets/searchcustomer.gif" /></center>
            }
        </div>
          <div style="vertical-align: central">
           <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" disabled="@(customer == null ? true : false)">New Car Insurance</button>
           <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" disabled="@(customer == null ? true : false)">New House Insurance</button>
           <button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" @onclick="NavigateToLifeInsurance" disabled = "@(customer == null ? true : false)">New Life Insurance</button>

          </div>


    </div>
    <div id="second" style="background-color: white; margin: 20px">
        <div style="margin: 20px">
           <table style="margin: 0 auto; vertical-align: central">
               @if(DetailedInsuranceDetails != "")
                {
                    var details = GetInsuranceDetails();
                    var splitted = details.Split('|');
                    @if (splitted[6].ToCharArray()[0] == 'O')
                    {
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Name: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[0]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Surname: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[1]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">PESEL: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[2]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Price: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[3]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Sign Date: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[4]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">End Date: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[5]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Number: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[6]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Auto Casco: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[7]</td>
                        </tr>
                        <h2></h2>
                        <h2 style="text-align: center">Car Details</h2>
                        var carSplitted = ((MotorInsurance)(customer.Insurances.First(e => e.InsuranceNumber == splitted[6]))).Vehicle.GetVehicleData().Split(" | ");
                        @if(carSplitted.Count() == 3)
                        {
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Production Date: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[0]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">License Plates Number: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[1]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Frame Number: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[2]</td>
                            </tr>
                        }else if(carSplitted.Count() == 7)
                        {
                             <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Production Date: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[0]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">License Plates Number: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[1]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">VIN: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[2]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Import Country: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[3]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">First Registration Date: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[4]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Mileage Count: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[5]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Maximum Allowable Axle Load: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[6]</td>
                            </tr>
                        }else if(carSplitted.Count() == 8)
                        {
                              <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Production Date: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[0]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">License Plates Number: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[1]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">VIN: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[2]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Import Country: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[3]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">First Registration Date: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[4]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Mileage Count: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[5]</td>
                            </tr> 
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Is Hook: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[6]</td>
                            </tr>
                            <tr>
                                <td style="font-family: Arial; font-size: 24px; float: left">Is LPG: </td>
                                <td style="font-family: Arial; font-size: 24px;">@carSplitted[7]</td>
                            </tr>
                        }

                }else if(splitted[6].ToCharArray()[0] == 'H')
                    {
                         <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Name: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[0]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Surname: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[1]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">PESEL: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[2]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Price: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[3]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Sign Date: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[4]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">End Date: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[5]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Number: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[6]</td>
                        </tr>

                        <h2 style="text-align: center">Insured House Adress</h2>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">City: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[7]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Postal Code: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[8]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Street: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[9]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">House Number: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[10]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Flat Number: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[11]</td>
                        </tr>

                    }else
                    {
                         <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Name: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[0]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Surname: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[1]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">PESEL: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[2]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Price: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[3]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Sign Date: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[4]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">End Date: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[5]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Number: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[6]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Customer Age: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[7]</td>
                        </tr>
                        
                        <h2>Medical Survey Details</h2>
                         <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Pensioner: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[8]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Acciddent Victim: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[9]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Surgery: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[10]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Overweight: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[11]</td>
                        </tr>  
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Smoker: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[12]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Alcohol Usage: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[13]</td>
                        </tr> 
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Drugs usage: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[14]</td>
                        </tr>
                         <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Coronary artery disease: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[15]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Hypertension: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[16]</td>
                        </tr>
                        <tr>
                            <td style="font-family: Arial; font-size: 24px; float: left">Hypertension in family: </td>
                            <td style="font-family: Arial; font-size: 24px;">@splitted[17]</td>
                        </tr>
                    }
                } else
                {
                    <center><img style="width: 25%" src="Assets/select.gif" /></center>
                    <h2 style="font-family: Arial; font-size: 24px; text-align: center">Select product from left list</h2>
                }
            </table>
        </div>
    </div>
</div>



@code {
    private Customer customer;
    private RetailCustomer retailCustomer;
    private CorpoCustomer corpoCustomer;
    private string DetailedInsuranceDetails = "";


    protected override void OnInitialized()
    {
    }

    void SetNumber(string value)
    {
        DetailedInsuranceDetails = value;
    }

    void SetCustomer(string customerNumber)
    {
        DetailedInsuranceDetails = "";
        customer = Customer.Customers.First(e => e.ContactNumber == customerNumber);
        if (customer.GetCustomerData().Contains("Pesel: "))
            retailCustomer = (RetailCustomer)customer;
        else
            corpoCustomer = (CorpoCustomer)customer;
    }

    private string GetInsuranceDetails()
    {
        if (DetailedInsuranceDetails != "")
        {
            string[] split = DetailedInsuranceDetails.Split(" | ");
            string insuranceNumeber = split[1];
            return customer.Insurances.First(e => e.InsuranceNumber == insuranceNumeber).GetInsuranceData();
        }
        else
            return "";
    }

    private void NavigateToLifeInsurance()
    {
        NavManager.NavigateTo($"/LifeInsurance/{customer.CustomerId}");
    }
}
