@page "/LifeInsurance/{CustomerId:int}"
@using MasProjekt.Backoffice.Models.Customers
@using Newtonsoft.Json;
@using ProtegoFrontend.Backoffice.Models;
@using ProtegoFrontend.Connection
@using System.Text;
@using System.Net;
@using System.IO;
@inject HttpClient Http
@inject NavigationManager NavManager


<style>
    body {
        background-color: rgb(239, 239, 239);
    }
</style>

<div style="background-color: white; border-radius: 25px; margin: 0 auto; padding: 15px">
    <center><h2 style="font-family: Calibri; font-size: 30px">New Life Insurance</h2></center>
</div>

<div id="wrapper" style="margin: 20px; margin: 0 auto">
    <div style="background-color: white; border-radius: 25px; margin: 15px auto; padding: 15px">
        @if(customer != null)
        {
        @if (customer.Pesel != "")
        {
            <center><label style="font-family: Arial; font-size: 20px">Customer Name: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Name" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Customer Surname: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Surname" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Pesel: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Pesel" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Contact Number: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.ContactNumber" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Email: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Email" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">City: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[0]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Postal Code: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[1]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Street: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[2]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">House Number: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[3]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Flat Number: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[4]" type="text" disabled /></center>
        }
        else
        {
            <center><label style="font-family: Arial; font-size: 20px">Company Name: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.CompanyName" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">NIP: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Nip" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Contact Number: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.ContactNumber" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Email: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Email" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">City: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[0]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Postal Code: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[1]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Street: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[2]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">House Number: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[3]" type="text" disabled /></center>
            <center><label style="font-family: Arial; font-size: 20px">Flat Number: </label></center>
            <center><input style="width: 50%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" value="@customer.Adress.Split(';')[4]" type="text" disabled /></center>
        }
        }
        <center><label style="font-family: Arial; font-size: 20px">Does the client receive a pension?</label></center>
        <center><input type="checkbox" @bind="question1yes" id="question1yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question1no" id="question1no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Has the client had an accident?</label></center>
        <center><input type="checkbox" @bind="question2yes" id="question2yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question2no" id="question2no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Has the client had surgery in the last 5 years?</label></center>
        <center><input type="checkbox" id="question3yes" @bind="question3yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question3no" id="question3no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Is the client overweight?</label></center>
        <center><input type="checkbox" @bind="question4yes" id="question4yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question4no" id="question4no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Does the client smoke?</label></center>
        <center><input type="checkbox" @bind="question5yes" id="question5yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question5no" id="question5no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Does the client drink alcohol?</label></center>
        <center><input type="checkbox" @bind="question6yes" id="question6yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question6no" id="question6no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Does the client take drugs?</label></center>
        <center><input type="checkbox" id="question7yes" @bind="question7yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" id="question7no" @bind="question7no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Does the client have coronary artery disease?</label></center>
        <center><input type="checkbox" id="question8yes" @bind="question8yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" @bind="question8no" id="question8no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Does the client have high blood pressure?</label></center>
        <center><input type="checkbox" id="question9yes" @bind="question9yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" id="question9no" @bind="question9no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><label style="font-family: Arial; font-size: 20px">Is there a history of hypertension in the client's family?</label></center>
        <center><input type="checkbox" id="question10yes" @bind="question10yes" value="true" /><label>&nbsp;</label><label>Yes</label><label>&nbsp;</label><input type="checkbox" id="question10no" @bind="question10no" value="true" /><label>&nbsp;</label><label>No</label></center>
        <center><span hidden="@(!errors)" style="color: red; font-family: Arial; font-size:15px" >Insurance cannot be added</span></center>
        <center><button style="background-color:deepskyblue; border: none; color: white; text-align: center; text-decoration: none; font-size: 16px; padding: 15px 32px;" @onclick="CalculateInsurance">Save</button></center>
    </div>
</div>








@code {
    [Parameter]
    public int CustomerId { get; set; }
    Customer customer;

    bool question1yes;
    bool question1no;
    bool question2yes;
    bool question2no;
    bool question3yes;
    bool question3no;
    bool question4yes;
    bool question4no;
    bool question5yes;
    bool question5no;
    bool question6yes;
    bool question6no;
    bool question7yes;
    bool question7no;
    bool question8yes;
    bool question8no;
    bool question9yes;
    bool question9no;
    bool question10yes;
    bool question10no;
    double Price = 3000.00;

    bool errors = false;

    protected override async Task OnInitializedAsync()
    {
        customer = await Http.GetFromJsonAsync<Customer>($"https://localhost:44394/controller/Client/{CustomerId}");
    }

    private async void CalculateInsurance()
    {
        int counterYes = 0;
        if(question1yes != false)
            counterYes++;
        if (question2yes != false)
            counterYes++;
        if (question3yes != false)
            counterYes++;
        if (question4yes != false)
            counterYes++;
        if (question5yes != false)
            counterYes++;
        if (question6yes != false)
            counterYes++;
        if (question7yes != false)
            counterYes++;
        if (question8yes != false)
            counterYes++;
        if (question9yes != false)
            counterYes++;
        if (question10yes != false)
            counterYes++;

        if (counterYes >= 3)
            errors = true;
        else
        {
            bool[] answers = new bool[10];
            if (question1no != false)
                answers[0] = false;
            else
                answers[0] = true;
            if (question2no != false)
                answers[1] = false;
            else
                answers[1] = true;
            if (question3no != false)
                answers[2] = false;
            else
                answers[2] = true;
            if (question4no != false)
                answers[3] = false;
            else
                answers[3] = true;
            if (question5no != false)
                answers[4] = false;
            else
                answers[4] = true;
            if (question6no != false)
                answers[5] = false;
            else
                answers[5] = true;
            if (question7no != false)
                answers[6] = false;
            else
                answers[6] = true;
            if (question8no != false)
                answers[7] = false;
            else
                answers[7] = true;
            if (question9no != false)
                answers[8] = false;
            else
                answers[8] = true;
            if (question10no != false)
                answers[9] = false;
            else
                answers[9] = true;

            string finalAnswers = "";
            foreach(var answer in answers)
            {
                StringBuilder bulider = new StringBuilder();
                if (answer == true)
                    bulider.Append("true;");
                else
                    bulider.Append("false;");

            }



            Policies NewPolicy = new Policies()
                {
                    Price = Price,
                    SignDate = DateTime.Now,
                    EndDate = DateTime.Now.AddYears(1),
                    PolicyNumber = $"L{customer.Pesel}{DateTime.Now.Date}",
                    AutoCasco = false,
                    CustomerAge = DateTime.Now.Year - Int32.Parse($"19{customer.Pesel[0]}{customer.Pesel[1]}"),
                    MedicalSurvey = finalAnswers.ToString(),
                    Adres = customer.Adress,
                    ClientId = customer.ClientId,
                    VehicleId = 0,
                    Vehicle = null
                };
            await Http.PostAsJsonAsync<Policies>("https://localhost:44394/controller/Insurance/New", NewPolicy);
            NavManager.NavigateTo("/Dashboard");
        }

    }
}
